.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formLabel{
  margin-right: 5px;
}

.error{
  background-color: red;
  color: white;
  font-weight: 600;
  padding: 10px;
}

.wordDetails{
  cursor:grab;
}

.loginForm{
  border: 1px solid black;
  box-shadow: 1px 1px 10px 1px blue;
  width:fit-content;
  height: fit-content;
  padding: 10px;
}

.loginDiv{
  margin-left: 25%;
  margin-top: 20px;
}

#loginSubmitButton{
  margin-left: 80%;
}

.modal{
  margin-top: 5%;
  margin-right: 25%;
  margin-left: 25%;
}

.modal form{
  background-color: white;
  padding:5%;
  margin: 4%;
}

.modal textarea{
  width: 75%;
  height: 50%;
}

.left{
  float: left;
}

.right{
  float: right;
}

.logoutButton{
  background-color: red;
}
